
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        body{
            background: linear-gradient(to right, #e9be11bb, #e9bd11);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
        }

        .container{
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
            position: relative;
            overflow: hidden;
            width: 400px;
            max-width: 100%;
            min-height: 500px;
        }

        .container form{
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px;
            height: 100%;
        }

        .container img {
            width: 200px;
            margin-bottom: 20px;
        }

        .container span{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.3px;
            margin: 20px 0;
        }

        .container input{
            background-color: #eee;
            border: none;
            margin: 8px 0;
            padding: 10px 15px;
            font-size: 13px;
            border-radius: 8px;
            width: 100%;
            outline: none;
        }

        .container button{
            background-color: #e9bd11;
            color: #fff;
            font-size: 14px;
            padding: 12px 30px;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-top: 20px;
            cursor: pointer;
        }

        .container a{
            color: #333;
            font-size: 13px;
            text-decoration: none;
            margin: 15px 0 10px;
        }

        .bi{
            margin-top: 5%;
            margin-left: 6%;
            color: #00000073;
        }
        /* Estilos para o modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Permite que o modal fique fixo na tela */
    z-index: 1000; /* Coloca o modal acima de outros elementos na página */
    left: 0;
    top: 0;
    width: 100%; /* Cobrir toda a largura da tela */
    height: 100%; /* Cobrir toda a altura da tela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}

/* Estilos para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-width: 400px; /* Largura máxima do modal */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos para o botão de fechar o modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.erro{
    margin-bottom: 10px;
    margin-left: 20px;
}


   